html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

#container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../images/polaroid.png");
}

#profile-pic {
  background-size: 100%;
  border-radius: 200px;
  border: 1px solid #999;
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

a {
  text-decoration: none;
}

#link-block {
  padding-top: 10px;
}

#link-block img {
  width: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#link-block img#timeismoney {
  width: 33px;
}
