<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Phaedrus Raznikov</title>
    <meta name="description" content="About Phaedrus Raznikov" />
    <meta name="author" content="Phaedrus Raznikov" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="container">
      <div id="brand" class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <h1 id="name">Phaedrus Raznikov</h1>
          <a
            href="https://www.linkedin.com/in/phaedrusraznikov"
            target="_blank">
            <img
              title="LinkedIn"
              src="images/linkedin.png"
              class="contact-icon"
            />
          </a>
          <a href="https://github.com/phrazzld" target="_blank">
            <img title="GitHub" src="images/github.png" class="contact-icon" />
          </a>
          <a href="mailto:phraznikov@gmail.com" target="_blank">
            <img
              title="Email"
              src="images/email-blue.png"
              class="contact-icon"
            />
          </a>
          <a href="images/resume.pdf" target="_blank">
            <img title="Resume" src="images/pdf.png" class="contact-icon" />
          </a>
          <a
            href="https://chrome.google.com/webstore/detail/time-is-money/ooppbnomdcjmoepangldchpmjhkeendl"
            target="_blank">
            <img
              title="Time Is Money"
              src="images/timeismoneycircle.png"
              class="contact-icon"
            />
          </a>
        </div>
      </div>
      <div id="chat-wrapper" class="row">
        <div id="chat" class="row"></div>
        <div id="form-wrapper" class="row">
          <form
            action="/"
            method="GET"
            id="message-form"
            class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="form-group">
              <input
                type="text"
                id="message-contents"
                class="form-control"
                placeholder="Say hello..."
              />
              <button type="submit" id="send-message" class="btn btn-default">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer
      id="site-info"
      class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <hr />
      <p id="copyright"></p>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="js/smarts.js"></script>
  </body>
</html>;
